doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title

    link(rel="stylesheet", href="/style.css")
    link(rel='stylesheet', href='/chat-list.css')
  body
    include ./flash.pug
    script.
      const userID = !{JSON.stringify(userID)};

    header.header
      span.username #{username}
      .search-box
        input.search-input(type='text', name='search_contacts', placeholder='Search contacts')

    #wrapper 
      section.chats
        .chat
          img.profile-pic(src='/profile_pics/profile_pic.jpg', alt='Profile Picture')
          .chat-details
            h3.username Kansola
            p.message-preview Ut enim ad minim veniam, quis nostrud.
          .chat-meta
            p.time 12:30 PM
            span.unread-counter 3

        .chat
          img.profile-pic(src='/profile_pics/profile_pic.jpg', alt='Profile Picture')
          .chat-details
            h3.username Juju
            p.message-preview Ut enim ad minim veniam, quis nostrud.
          .chat-meta
            p.time 12:30 
            
      #new_chat
        p +

    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js" referrerpolicy="no-referrer")
    script(src="/chat-list.js") 
