doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title
    link(rel='stylesheet', href='/style.css')
  body
    include flash.pug 

    h1= message
    if error.status === 404
      p The requested page could not be found.
    else
      p An error occurred while processing your request.
    a(href='/') Go to home page
