if msg.error.length > 0
  .flash-message.error
    p= msg.error
        
if msg.success.length > 0
  .flash-message.success
    p= msg.success

script. 
  const flashMessages = document.querySelectorAll(".flash-message");
  
  flashMessages.forEach((flashMessage) => {
    setTimeout(() => {
      flashMessage.remove();
    }, 1500);
  });
