* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.25rem;
  background-color: #4caf50;
  color: #fff;
}

.header .username {
  font-size: 1.75rem;
  margin-left: 1rem;
}

.left {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.username {
  font-size: 1.5rem;
  font-weight: 500;
}

.search-box {
  width: 75%;
}

.search-input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}

#vertical_dots {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#vertical_dots .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin: 2px;
}

.menu {
  position: absolute;
  top: -100%;
  right: 5px;
  width: 50%;
  padding: 10px 20px;
  background-color: #4d744f;
  border-radius: 7px;
  list-style: none;
  text-align: center;
  transition: top 0.3s;
}

.menu a,
.menu label {
  padding: 9px 3px;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  display: block;
  cursor: pointer;
}

.menu input {
  display: none;
}

.show_menu {
  top: 75px;
}

.chats {
  display: flex;
  flex-direction: column;
}

.no_contact_msg {
  margin-top: 1.25rem;
  text-align: center;
  color: #888;
  font-size: 1.25rem;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ccc;
}

.chat:hover {
  background-color: #f2f2f2;
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  margin-right: 1rem;
}

.chat-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-details h3 {
  font-size: 1.2rem;
  margin: 0;
}

.chat-details p {
  margin: 0;
  color: #888;
}

.chat-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time {
  margin: 0;
  color: #888;
  font-size: 0.8rem;
}

.unread-counter {
  background-color: #128c7e;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

#new_chat {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #4caf50;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#new_chat p {
  padding-bottom: 0.75rem;
  color: #fff;
  font-size: 4.5rem;
  line-height: 3.5rem;
  cursor: pointer;
}
